body {
  padding-top: 4.5rem;
  background-color: var(--bs-tertiary-bg) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  height: 4.5rem;
}

.card {
  transition: box-shadow 250ms;
}

.card:hover {
  box-shadow: var(--bs-box-shadow);
}
